@import "../../variables.scss";

.auth-page-container {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.view-cotaniner {
    overflow: hidden;
    background-color: $grayBackground;
    border-radius: 40px;
}