@import "../../variables.scss";

.profile-page-container {
    padding-top: 40px;
    padding-right: 40px !important;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.data-container {
    background-color: $darkestGray;
    padding: 32px 35px;
    border-radius: 25px;
}

.profile-header-container {
    background-color: $darkestGray;
    padding: 32px 35px 0px 35px;
    border-radius: 25px 25px 0px 0px;
}

.profile-content-container {
    background-color: white;
    padding: 32px 35px;
    border-radius: 0px 0px 25px 25px;
}

.account-status-box {
    border-radius: 18px;
    padding: 10px 20px;
    background-color: $secondaryColor;
    color: $primaryColor;
    height: fit-content;
    width: fit-content;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.map-container {
    width: 100%;
    height: 200px;
    border-radius: 30px;
    border: 1px solid $darkerGray;
}

.marker-container {
    top: 50%;
    left: 50%;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
}

.listing-preview-container {
    display: flex;
    border-radius: 30px;
    height: 736px;
    width: 414px;
    background-color: white;
    margin: auto;
    flex-direction: column;
}

.listing-preview-map-container {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid $darkerGray;
    border-radius: 30px 30px 0px 0px;
}

.icon-button-container {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $grayBackground;
}


.icons-container {
    position: absolute;
    display: flex;
    margin: 40px 30px 0px 30px;
    width: 354px;
    z-index: 2;
}

.avatar-rating-container {
    position: absolute;
    display: flex;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 414px;
    justify-content: center;
}

.rating-container {
    padding: 4px 6px;
    background-color: $secondaryColor;
    color: $primaryColor;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-weight: bold;
    left: 20%;

    >*:first-child {
        margin-right: 4px;
    }
}

.icon-header-container {
    padding: 8px;
    background-color: $gray94;
    position: absolute;
    left: 50%;
    top: 20px;
    border-radius: 10px;
    color: $primaryColor;
    height: 20px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.bio-info-container {
    color: $primaryColor;
    background-color: $grayBackground;
    margin-top: 20px;
    border-radius: 30px;
    padding: 30px 22px 22px 22px;
}

.practice-info-container {
    color: $primaryColor;
    background-color: $grayBackground;
    margin-top: 20px;
    border-radius: 30px;
    padding: 30px 22px 22px 22px;
    width: 100%;
}

.medical-aid-img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 5px;
    background-color: $gray94;
}