$primaryAccentColor: #B3E0D0;
$secondaryColor: #EDED85;
$primaryColor: #2D6455;
$secondaryAccentColor: #B3E0D0;
$grayBackground: #FAFAFA;
$gray94: #F0F0F0;
$darkerGray: #D8D8D8;
$darkestGray: #ededed;